<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le web fonts -->
		<link href='http://fonts.googleapis.com/css?family=Merriweather:300,700|Oxygen' rel='stylesheet' type='text/css'>

		
		<!-- Le styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/responsive.css" rel="stylesheet">
		
		
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5-ck.js"></script>
		<![endif]-->
		
		<!-- Le favicon -->
		<link rel="shortcut icon" href="/img/ico/favicon.ico">
		{% block head %}
		{% endblock head %}
		<title>{{ site.title }} | {{ page.title }}</title>
	</head>
	
	<body>
		<div id="wrapper">
			<div id="header-desktop" class="clearfix hidden-phone container-fluid">
					<span id="brand">
						<a href="/" title="Wild Pines Home">
				    		<span class="logo"><img src="/img/fake-logo.png" alt="Wild Pines Logo"></span>
						</a>
					</span>
	
					<ul id="nav-main" class="nav nav-pills nav-links pull-right">
				    {%- for nav in site.tags['_nav']|sort(attribute='nav_weight') %}
				      {%- if nav.url == page.url %}
				        <li class="active">
				        	<a href="{{ nav.url }}">{{ nav.title }}</a>
				        </li>
				      {%- else %}
				        <li>
				        	<a href="{{ nav.url }}">{{ nav.title }}</a>
				        </li>
				      {%- endif %}
				    {%- endfor %}
					</ul>	   
			</div><!--/ #header-desktop -->

			<div id="header-mobile" class="clearfix visible-phone">
				<div id="brand">
					<a href="/" title="Wild Pines Home">
			    		<span class="logo">Wild Pines Counseling</span>
					</a>
				</div>
				<ul class="nav nav-pills nav-links">
			    {%- for nav in site.tags['_nav']|sort(attribute='nav_weight') %}
			      {%- if nav.url == page.url %}
			        <li class="active">
			        	<a href="{{ nav.url }}">{{ nav.title }}</a>
			        </li>
			      {%- else %}
			        <li>
			        	<a href="{{ nav.url }}">{{ nav.title }}</a>
			        </li>	      {%- endif %}
			    {%- endfor %}
				</ul>	 
			</div><!--/ #header-mobile -->



			
			<div id="main">
			{% block body %}
			{% endblock body %}
			</div> <!--/ #main -->
			
			
			<div id="footer">
			    <p></p>
			</div>
		</div> <!--/ #wrapper -->
		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/scripts-ck.js"></script>
		{% block bottom %}
		{% endblock bottom %}
	</body>
</html>
