{% extends "base.html" %}

{% block body %}
<div class="container-fluid">

	<div id="hero" class="row-fluid img-shadow">
		<div class="span4 hero-text">
			<p class="lead">My name is Annie.  I am a counselor, and I work with remarkable young people.</p>
			<hr>
			<p>I specialize in adventure-based and animal-assisted counseling as a means to help youth overcome challenges and reach their full potential.</p>			
		</div>
	</div>
	
	<div id="site-sections" class="row-fluid">
		<div class="span3">
			<a href="/services.html">
				<div>
					<img class="center" src="\img\tree.png" alt="">
					<h4>Services</h4>
				</div>
			</a>
			<hr>
			<p>Learn more about the unique approach I take to counseling for youth, including wilderness and animal-assisted therapy.</p>
		</div>

		<div class="span3">
			<a href="/about.html">
				<div>
					<img class="center" src="\img\tent.png" alt="">
					<h4>About</h4>
				</div>
			</a>
			<hr>
			<p>Get to know me better, and see why I'm so passionate about working with youth in the great outdoors.</p>
		</div>

		<div class="span3">
			<a href="/forms.html">
				<div>			
					<img class="center" src="\img\form.png" alt="">
					<h4>Forms</h4>
				</div>
			</a>
			<hr>
			<p>Here, you'll find the forms you need once we start working together.</p>
		</div>

		<div class="span3">
			<a href="/contact.html">
				<div>
					<img class="center" src="\img\email.png" alt="">
					<h4>Contact</h4>
				</div>
			</a>
			<hr>
			<p>Get in touch with me to learn more about what I can offer as counseling options for yourself or your child.</p>
		</div>
	</div>

</div> <!-- /container -->
{% endblock body %}