{% extends "base.html" %}

{% block body %}
<div class="container-fluid">

	<div id="homepage-hero" class="row-fluid">
		<div class="span8 hero-img">
			<img src="/img/homepage-hero.jpg">
		</div>

		<div class="span4 hero-text">
			<p class="lead">My name is Annie.  I am a counselor, and I work with remarkable young people.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nibh nunc, pellentesque eget adipiscing sed, hendrerit sed quam. Aenean egestas sapien quis ipsum suscipit mattis.</p>			
		</div>
	</div>
	
	<div id="site-sections" class="row-fluid">

	</div>

</div> <!-- /container -->
{% endblock body %}