{% extends "base.html" %}

{% block body %}
<div class="container-fluid">

	<div id="homepage-hero" class="row-fluid">
		<div class="span8 hero-img">
			<img src="/img/homepage-hero.jpg">
		</div>

		<div class="span4 hero-text">
			<p class="lead">My name is Annie.  I am a counselor, and I work with remarkable young people.</p>
			
			<p>I specialize in adventure-based and animal-assisted counseling as a means to help youth overcome challenges and reach their full potential.</p>			
		</div>
	</div>
	
	<div id="site-sections" class="row-fluid">
		<div class="span3">
			<h4>Counseling</h4>
			<p>Learn more about the unique approach I take to counseling for youth, including wilderness and animal-assisted therapy.</p>
		</div>

		<div class="span3">
			<h4>About</h4>
			<p>Get to know me better, and see why I'm so passionate about working with youth in the great outdoors.</p>
		</div>

		<div class="span3">
			<h4>Forms</h4>
			<p>These are the coolest, fanciest-looking forms you've ever seen.  You'll be surprised how fun they are to fill out!</p>
		</div>

		<div class="span3">
			<h4>Contact</h4>
			<p>Get in touch with me to learn more about what I can offer as counseling options for yourself or your child.</p>
		</div>
	</div>

</div> <!-- /container -->
{% endblock body %}